<h1>Add a dose to <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div class="form-inputs">
    <%= f.input :description, input_html: { autocomplete: 'off' } %>
    <%= f.association :ingredient %>
  </div>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %> |
    <%= link_to 'Cancel', @cocktail, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
