<!DOCTYPE html>
<html>
  <head>
    <title>SuperCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section class="jumbotron text-center">
      <h1>Super cocktail</h1>
    </section>

    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
